body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.content{
    display: block;
    align-items: center;
    align-content: cener;
    text-align: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

td,tr{
    border: 1px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-around;
}