body{
    margin: 0;
    padding: 0;
    background-color: #070e25e5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h1{
    display: block;
}

.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-items: center;
}

tr,td{
    justify-content: space-around;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.menu-list{
    display: flex;
    gap: 24px;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    align-items: center;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 0px;
}

.menu{
    align-content: center;
    justify-content: center;
}

.logo2{
    line-height: 32px;
}

.webdev{
    font-style: italic;
    font-size: 30px;
}


.mylogo{
    height: 65px;
    width: 85px;
    object-fit: scale-down;
    border: 1px solid #65d10d;
}

.logo{
    display: flex;
    color: white;
}

li{
    text-align: center;
    list-style: none;
    
}

a{
    text-decoration:  none;
    color: gainsboro;
    padding: 5px;
}

a:hover{
    color: white;
}

.hireme:hover{
    background-color: rgb(6, 156, 14);
    color: whitesmoke;
}

.hireme{
    background-color: #65d10d;
    border-radius: 5%;
}

.main-landing{
    display: flex;
    height: calc(100vh*.8);
    width: 100%;
    align-items: center;

}

.motto{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-size: calc(100vh*.10);
    padding-left: calc(100vw*.15);
}

.it{
    color: greenyellow;
}

.reality{
    font-style: italic;
    color: white;
}

.reality2{
    color: white;
    text-shadow: chartreuse;
}

.reality2:hover{
    color: red;
}


.binto{
    color: #65d10d;
}

.skills-menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: max-content;
    width: 100%;
    font-size: 30px;
    background-color: whitesmoke;
}

.skills-menu, div{
    column-gap: 50px;
}


.logo-icon{
    height: calc(100vh*.20);
    width: auto;
}

.tech-stack{
    border-right: 3px solid white;
    padding: 20px;
}

.project-menu{
    height: max-content;
    width: 100%;
}

.project{
    height: calc(100vh*.5);
    width: auto;
    align-content: center;
}

