{%extends 'base.html' %}

{% block head%}

{% endblock %}
   
{%block body%}


    <div class="main-landing">
        <h1 class="motto">YOU <span class="it">ENVISION IT</span>, <br>
            I <span class="binto">BRING</span> IT <span class="binto">INTO</span><span class="reality"><a class="reality2" href="#" target="_blank">REALITY</a></span>.
        </h1><br>   
    </div>

    <div class="skills-menu">
        <div class="tech-stack scrolling-items">
            <img  src="/static/flask-logo-png-transparent.png" class="logo-icon" alt="Flask">
        </div>

        <div class="tech-stack">
            <img src="/static/Python.png" class="logo-icon" alt="Python">
        </div>

        <div class="tech-stack scrolling-items">
            <img src="/static/html-logo.png" class="logo-icon" alt="">
        </div>

        <div class="tech-stack">
            <img src="/static/css3-logo-png-transparent.png" class="logo-icon" alt="">
        </div>

        <div class="tech-stack">
            <img src="/static/JS-logo.png" class="logo-icon" alt="">
        </div>

    </div>

    <div class="projects-menu">
        <div class="project">
            
        </div>
    </div>

{%endblock body%}