{%extends 'base.html' %}

{% block head%}{% endblock %}
    <h1>Welcome to my home!</h1>
{%block body%}

    <div class="flex nav-bar">
        <div class="logo">
            <a href="#" target="_blank"><img class="mylogo" src="\static\css\web_logo_LH.png" alt="myLogo" href="#"></a>
            <p class="logo2">Lowie Hojas<br>
                <span class="webdev">Web Developer</span></p>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li><a href="#" target="_blank">Projects</a></li>
                <li><a href="#" target="_blank">About</a></li>
                <li><a href="#" target="_blank" class="hireme">HireMe</a></li>
            </ul>
        </div>
    </div>

    <div class="main-landing">
        <h1 class="motto">YOU <span class="it">ENVISION IT</span>, <br>
            I <span class="binto">BRING</span> IT <span class="binto">INTO</span><span class="reality"><a class="reality2" href="#" target="_blank">REALITY</a></span>.
        </h1><br>   
    </div>

    <div class="skills-menu">
        <div class="tech-stack scrolling-items">
            <img  src="/static/flask-logo-png-transparent.png" class="logo-icon" alt="Flask">
        </div>

        <div class="tech-stack">
            <img src="/static/Python.png" class="logo-icon" alt="Python">
        </div>

        <div class="tech-stack scrolling-items">
            <img src="/static/html-logo.png" class="logo-icon" alt="">
        </div>

        <div class="tech-stack">
            <img src="/static/css3-logo-png-transparent.png" class="logo-icon" alt="">
        </div>

        <div class="tech-stack">
            <img src="/static/JS-logo.png" class="logo-icon" alt="">
        </div>

    </div>

{%endblock body%}